<template>
<div>
    <h1>Audio Libros</h1>
        <audio-books-index/>
</div>
</template>
<script>

import AudioBooksIndex from './AudioBooksIndex.vue'

export default {
    components:{
        AudioBooksIndex

    }
}
</script>
