<template>
<div>
    <div class="container">
        <div class="row my-row">
            <div class="col-lg-5">
                <div class="card card-style mt-5">
                    <div class="row">
                        <form class="my-form mt-5 ">

                            <div class="form-group row mb-3">
                                <label for="title" class="col-sm-3 col-form-label">Title</label>
                                <div class="col-sm-9">
                                <input v-model="item.title" :maxlength=50 type="text" class="input-style form-control" id="title" placeholder="Title">
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="title" class="col-sm-3 col-form-label">ISBN</label>
                                <div class="col-sm-9">
                                <input v-model="item.ISBN" :maxlength=17 type="text" class="input-style form-control" id="title" placeholder="ISBN">
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="price" class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-3">
                                <input v-model="item.price" :maxlength=5 class="input-group-addon input-style form-control" id="price" placeholder="Price">
                                </div>

                                <label for="stock" class="col-sm-3 col-form-label">Stock</label>
                                <div class="col-sm-3">
                                <input v-model="item.stock" :maxlength=5 class="input-group-addon input-style form-control" id="stock" placeholder="Stock">
                                </div>
                            </div>

                            <div class="form-group  row mb-3">                               
                                <label for="price" class="col-sm-3 col-form-label">Synopsis</label>
                                <div class="col-sm-9">
                                <textarea v-model="item.synopsis" :maxlength=800 class="input-style form-control mb-3" id="synopsis" rows="3" placeholder="Synopsis..."></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="edition" class="col-sm-3 col-form-label">Edition</label>
                                <div class="col-sm-9">
                                <input v-model="item.edition" :maxlength=50 class="input-style form-control" id="edition" placeholder="Edition">
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="title" class="col-sm-3 col-form-label">Format</label>
                                <div class="col-sm-9">
                                <input v-model="item.format" :maxlength=50 type="text" class="input-style form-control" id="title" placeholder="Format">
                                </div>
                            </div>
                        
                           
                        </form>
                    </div>

                </div>
            </div>




            <div
            class="col-lg-5"
            >
                <div class="card card-style mt-5">
                <div class="row">
                    <form class="my-form mt-5" action="">
 

                        <div class="form-group row mb-3">
                            <label for="pages" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-4">
                            <input v-model="item.pages" :maxlength=5 type="email" class="input-style form-control" id="pages" placeholder="Pages">
                            </div>
                        </div>   

                        <div class="form-group row mb-3">
                            <label for="year" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8"> 

                            <input v-model="item.year" type="date" class="date" placeholder="Año" id="year">
                            </div>
                        </div>   

                        <div class="form-group row mb-3">
                            <label for="author" class="col-sm-4 col-form-label">Author</label>
                            <div class="col-sm-8">
                            <input v-model="item.author" :maxlength=50 class="input-style form-control" id="author" placeholder="Autor">
                            </div>
                        </div> 

                        <div class="form-group row mb-3">
                            <label for="language" class="col-sm-4 col-form-label">Genre</label>
                            <div class="col-sm-8">
                            <select v-model="item.genre_id" class="input-style form-control">
                                <option disabled selected>Genero</option>
                                <option :value="genre.id" v-for="(genre,index) in genres" :key="index">{{genre.name}}</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="language" class="col-sm-4 col-form-label">Language</label>
                            <div class="col-sm-8">
                            <input v-model="item.language" :maxlength=50 class="input-style form-control" id="author" placeholder="Language">
                            </div>
                        </div> 
                        <div class="form-group row mb-3">
                            <label for="language" class="col-sm-4 col-form-label">Category</label>
                            <div class="col-sm-8">
                                <select v-model="item.category_id" class="input-style form-control">
                                    <option disabled selected>Categoria</option>
                                    <option :value="category.id" v-for="(category,index) in categories" :key="index">{{category.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="language" class="col-sm-4 col-form-label">Image</label>
                            <div class="col-sm-8">
                                <div class="image-upload file-input-class">
                                <label for="file-input">
                                    <small>Select image</small>
                                </label>
                                <input id="file-input" @change="getImg" accept="image" type="file" />
                                </div>
                       
                            </div>
                        </div>
         
                        
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>
    <button @keyup.enter="saveItem()" @click="saveItem" class="my-btn mb-3"><span class="my-btn-text">Save</span></button>
</div> 
</template>
<script>
import vSelect from 'vue-select'
import axios from 'axios'
import $http from '@/services/HttpClient';
export default {
mounted(){

    this.getGenres()
    this.getCategories()

},
components:{
    vSelect
},
data(){
    return{
        text:'',
        genres:[],
        selectedGenre:'',
        categories:[],
        selectedCategory:'',
        languages:[],
        selectedLanguage:'',
        formats:[],
        selectedFormat:'',
        item:{
            title:'',
            ISBN:'',
            code:'',
            price:'',
            stock:'',
            synopsis:'',
            edition:'',
            pages:'',
            year:'',
            img_url:null,
            author:'',
            language:'',
            format:'',
            genre_id:'',
            category_id:'',

        },
        imgprev:null
        

    }
},
methods:{

    getImg(e){
        let img = e.target.files[0];
        this.item.img_url = img; 

 
    },
    getGenres(){
    
        $http.get('http://comicstorm-backend.test/api/genres/all', {
            delayed: true
            }).then((response)=>{
                this.genres=response.data.genres
            }).catch(error=>{
                console.log(error)
            })

    },

    getCategories(){

        $http.get('http://comicstorm-backend.test/api/categories/all', {
            delayed: true
            }).then((response)=>{
                this.categories=response.data.categories
            }).catch(error=>{
                console.log(error)
            })
    },

    saveItem(){

        let formData =  new FormData();

        for(let key in this.item){
            formData.append(key,this.item[key]);
        } 
        axios.post('http://comicstorm-backend.test/api/items/store',formData,{

            headers: {"Content-Type": "multipart/form-data"}

        }).then(response=>{
        
            this.$swal('Item added succesfully!');

           
        }).catch(error=>{

            if(error.response.status == 422){
                console.log(error.response.data.errors)
            }
            if(error.response.status == 500){
                console.log(error.response.data.errors)
            }
            
        })
    },
    redirect(category){

        switch (category) {
            case 1:
                this.$router.push({name:'mangas'})
                break;
            case 2:
                this.$router.push({name:'books'})
                break;
            case 3:
                this.$router.push({name:'audiobooks'})
                break;
            case 4:
                this.$router.push({name:'kindles'})
                break;
            case 5:
                this.$router.push({name:'comics'})
                break;    
        
            default:
                break;
        }
        
    }
    
}
}
</script>
<style scoped>
.my-form{
    width: 90%;
}

.card-style{
    background: #fff;
    box-shadow: 0 0 0.5em #B2B2B2;
    margin: 1.5rem  ;
}
.input-header::before{
    content: '';
    background: #FF3333;
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    transition: 0.5s ease;
}
label{
    color: #000;
}
.input-style{
    background: #fff;
    color: #000;
    border:2px solid #393939;
}
.select-color{
    color: #000;
    background: #fff;
    border-radius: 6px;
    border-style: none;
}

input[type="date"] { padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;border: 2px solid #ced4da; }
input[type="date"]:focus { outline: 0; }

/* This is the important part */
input[type="date"]:valid {
  border:none;
}
.my-row{
    display: flex;
    align-items: center;
    justify-content: center;
}



.my-btn{
    background: #E03535;
    transition: 0.5s ease; 
    border: none;
    border-radius: 4px;

    width: 65%;
}
.my-btn:hover{
    background: #B22C2C;
    transition: 0.5s ease; 
}
.my-btn i{
    font-size: 1.5rem;
}
.my-btn-text{
    font-size: 1.5rem;
    color: #fff;
}
.file-input-class{
    position: absolute;
    background:#fff;
    transition: 0.5s ease;
    width: 35%; 
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 6px;
    border:2px solid #393939;
    cursor: pointer;

}
#file-input{
    cursor: pointer;
}
.image-upload>input{
    display: none;
}
</style>