<template>
<div>
    <div class="row row-style">
        <div class="col">
            <div class="card mb-3 card-style"
            title="Libros"
            >
      
                <span class="span-class">Total {{totalBooks}}</span>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 card-style"
            title="Kindle"
            >
                <span class="span-class-1">Total {{totalKindle}}</span>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 card-style"
            title="Manga"
            >
                <span class="span-class-2">Total {{totalManga}}</span>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 card-style"
            title="Audio Libros"
            >
                <span class="span-class-3">Total {{totalAudioBooks}}</span>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 card-style"
            title="Comics"
            >
                <span class="span-class-4">Total {{totalComics}}</span>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import $http from '@/services/HttpClient';
export default {
    mounted(){
        this.getBooksCount()
        this.getKindleCount()
        this.getMangaCount()
        this.getAudioBooksCount()
        this.getComicsCount()
    },
    data(){
        return{
            totalBooks:0,
            totalKindle:0,
            totalManga:0,
            totalAudioBooks:0,
            totalComics:0
        }
    },
    methods:{
        getBooksCount(){
            $http.get('http://comicstorm-backend.test/api/items/'+1, {
            delayed: true
            }).then((response)=>{
                this.totalBooks = response.data.items.length;

            }).catch(error=>{
                console.log(error)
            })
        },
        getKindleCount(){
            $http.get('http://comicstorm-backend.test/api/items/'+2, {
            delayed: true
            }).then((response)=>{
                this.totalKindle = response.data.items.length;

            }).catch(error=>{
                console.log(error)
            })
        },
        getMangaCount(){
            $http.get('http://comicstorm-backend.test/api/items/'+3, {
            delayed: true
            }).then((response)=>{
                this.totalManga = response.data.items.length;

            }).catch(error=>{
                console.log(error)
            })
        },
        getAudioBooksCount(){
            $http.get('http://comicstorm-backend.test/api/items/'+4, {
            delayed: true
            }).then((response)=>{
                this.totalAudioBooks = response.data.items.length;

            }).catch(error=>{
                console.log(error)
            })
        },
        getComicsCount(){
            $http.get('http://comicstorm-backend.test/api/items/'+5, {
            delayed: true
            }).then((response)=>{
                this.totalComics = response.data.items.length;

            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>
<style scoped>
.card-style{
    background: #363535;

}
.row-style{
    margin: 0 1rem;
}
span{}
.span-class{
    background: #250B3A;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-1{
    background: #610B21;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-2{
    background: #4B8A08;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-3{
    background: #585959;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-3{
    background: #896B08;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-3{
    background: #896B08;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
.span-class-4{
    background: #088B69;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    
}
</style>
