<template>
<div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3"
                lg="2"
            >
                <div 
                class="card card-style mb-3"
                >

                <div class="my-btn d-flex flex-row">

                    <a @click="goAddItem">Agregar</a>
                </div>

                </div>
            </div>
        </div>
    </div>
</div> 
</template>
<script>
import axios from 'axios'

export default{
    methods:{
        goAddItem(){
            this.$router.push({name:'items-add'})
        }
    }
}
</script>
<style scoped>
.card-style{
    background: #363535;
}
.my-btn{
    background:#E03535;
    transition: 0.5s ease; 
    border-radius: 6px;
    width: 50%;
    padding: 1rem 2rem;

}
.my-btn a{
    font-size: 1.3rem;
    cursor: pointer;
}
.my-btn i{
    font-size: 2rem;
}
.my-btn:hover{
    background: #B22C2C;
    transition: 0.5s ease; 
}
</style>
