<template>
   <div>
     <h1>Articulos</h1>

     <div class="row">
       <items-new/>
     </div>
     
   </div>
    
</template>
<script>

import ItemsNew from './ItemsNew.vue'
import ItemsCard from './ItemsCard.vue'
export default {
 components: {

    ItemsNew,ItemsCard
  },
}
</script>