<template>
<div>
    <loading v-model:active="isLoading"
    :can-cancel="false"
    :on-cancel="onCancel"
    :is-full-page="fullPage"
    />
    <div class="container bv-example-row">
    <div align-h="start" class="row my-container">
        <div class="cols-12 col-lx-4 col-lg-4 col-md-4"
        
        >
            <div class="card mb-2 mt-3 card-style card-img">
            <img :src="book.img_url" alt="">
            </div>
        </div>
        <div class="cols-12 col-xl-5 col-lg-5 col-md-8"
        >
            <div
            class="card mt-3 card-style"
            >
            <div class="card-body">
                <div class="synopsis-container">
                    <h2>Synopsis</h2>
                    <p class="synopsis" >{{book.synopsis}}</p>
                </div>
            </div>
            </div>
            <div
            class="card card-style mt-2 mb-3"
            
            >   
            <h4 class="card-title">Aditional information</h4>
                <table class="table-style">
                    <thead>
                        <th class="color">Edition</th>
                        <th class="color">Format</th>
                        <th class="color">Language</th>
                        <th class="color">Pages</th>
                        <th class="color">Year</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="color">{{book.edition}}</td>
                            <td class="color">{{book.format}}</td>
                            <td class="color">{{book.language}}</td>
                            <td class="color">{{book.pages}}</td>
                            <td class="color">{{book.year}}</td>
                        </tr>
                    </tbody>
                </table>
          
            </div>
        </div>
        <div class="cols-12 col-lx-2 col-lg-3 col-md-12">
            <div
            class="card card-content mb-3 mt-3 card-style"
            >
            <div class="autor">
                <span>Author(s)</span>
                <br>
                <span><strong>{{book.author}}</strong></span>
            </div>
            </div>
            <div
            class="card card-content mb-3 mt-3 card-style"
            >
            <div class="price">
                <span>Price</span>
                <br>
                <span>MXN{{book.price}}</span>
            </div>
            <div class="my-btn">
                <a @click="addToCart(book.id,book.price,book.img_url,book.title,book.author)">Add to cart</a>
            </div>


            </div>
            
        </div>
        
    </div>

 

    </div>
</div>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import $http from '@/services/HttpClient';
export default {
    components:{
        Loading
    },
    created(){
       this.book_id = this.$route.params.id

    },
    mounted(){
       
       this.getBook()
       
    },
   
    data(){
       return{
            book_id:0,
            book:'',
            isLoading: true,
            fullPage: true
       }
    },
    methods:{
       getBook(){
           $http.get('http://comicstorm-backend.test/api/books/'+this.book_id, {
            delayed: true,
            time:1000
            }).then((response)=>{
                this.book = response.data.book;
             
                this.isLoading = false
            }).catch(error=>{
                console.log(error)
            });

        },
        addToCart(id,price,img_url,title,author){
            let item={
                id:id,
                price:price,
                img_url:img_url,
                title:title,
                author:author,
                quantity:1
            }

            localStorage.setItem('item',JSON.stringify(item))
            localStorage.setItem('firstAdded',JSON.stringify(true))
            this.$router.push({name:'cart'})
            
        },
        onCancel() {
                console.log('User cancelled the loader.')
        }
   }
}
</script>
<style scoped>
.card-img{
    max-height: 60ch;
    max-width: 35ch;
    overflow: hidden;
}
/*.card-img{
    transition: 0.5s ease;
}
.card-img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor: pointer;
}*/
.color{
    color: #000;
}
 .synopsis{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 9; /* number of lines to show */
   -webkit-box-orient: vertical;
   

}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-style{

    color:#000;
    box-shadow:  0 0 0.5em #B2B2B2;

}
.my-btn{
    background: #E03535;
    width: 50%;
    font-size: 1rem;
    border-radius: 6px;
    color: #fff;
    transition: 0.5s ease;
    padding: 0.5rem;
    margin: 1rem;

}
.my-btn a{
    cursor: pointer;
}
.my-btn:hover{
    background: #B22C2C;
    transition: 0.5s ease;
  
}
.price span{
    font-size: 1.5rem;
}
thead{
    color: #fff;
}
td{
    color: #fff;
    margin: 12px 12px 12px 12px;
     padding: 12px 12px 12px 12px;
}
</style>