<template>
<div>
  <div class="container">
    <div class="row">
      <div class="card mt-5 mb-5">
        <div class="img-container">
          <img class="avatar" src="https://www.w3schools.com/howto/img_avatar2.png" alt="">
        </div>
        <div class="card-title">Iniciar sesion</div>
        <div class="body">
          <input placeholder="Usuario" class="mb-3">
          <input placeholder="Contraseña" class="mb-3">
          <div class="my-btn mb-3">
            <a>Entrar</a>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>
    
</template>
<script>


export default {

}
</script>
<style scoped>
.card-title{
  font-size: 25px;
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  background: #000;
  opacity: 0.8;
  width: 80%;
}
.btn-color{
    background-color: #102A54;
}
.login-class{
  background:#102A54 ;
}
.my-btn{
    background: #fff;
    color: #000;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    transition: 0.5s ease;
    padding-bottom: 0.3rem;
    

}
.my-btn:hover{
  box-shadow: 0 0 0.5em #FF2727,inset 0 0 0.5em #FF2727;
  background: #FF2727;
  transition: 0.5s ease;  
      
}
.my-btn:hover a{
    color: #fff;
    transition: 0.5s ease;  
}
a{
    transition: 0.5s ease;  
    font-size: 25px;
    cursor: pointer;
}

.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 20%;
  border-radius: 50%;
}

</style>