 <template>
<div>
    <h1>Mangas</h1>
    <mangas-index/>
    
    


</div>
</template>
<script>

import MangasIndex from './MangasIndex.vue'
export default {
    components:{
        MangasIndex
    }
}
</script>
<style scoped>

</style>