<template>
    <div class="dashboard">
        


        <div class="content">
        <div class="row mb-5">
            <Header class="mb-5"/>
        </div>
        <div class="row">
            <router-view/>
        </div>
        <div class="row">
            <Footer/>
        </div>
        </div>
       
        <!--<sidebar/>-->
    </div>
</template>
<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Sidebar from '@/components/Sidebar.vue'

export default {
 components:{
     Header,Footer,Sidebar

 }
}
</script>
<style scoped>
.dashboard{
    background-color: #fff;
}
.content{

     background: #DADADA;

}


</style>
