 <template>
<div>
    <h1>Kindle</h1>
    <kindles-index/>
</div>
</template>
<script>


import KindlesIndex from './KindlesIndex.vue'
export default {
    components:{
 
        KindlesIndex
    }
}
</script>
<style scoped>
.container{
    margin-right: 2rem;
}

</style>