<template>
    <div>
        <!-- Footer -->
<footer class="text-center text-white background">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our offers</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
             <input placeholder="Email address"/>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->
  
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <router-link class="nav" :to="{name:'books'}" exact> <span class="nav-footer">Libros</span></router-link>   
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <router-link class="nav" :to="{name:'kindles'}"><span class="nav-footer">Kindle</span></router-link>  
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <router-link class="nav" :to="{name:'mangas'}"> <span class="nav-footer">Mangas</span></router-link>  
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <router-link class="nav" :to="{name:'audiobooks'}"> <span class="nav-footer">Audio Libros</span></router-link>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">  
          <router-link class="nav" :to="{name:'comics'}"> <span class="nav-footer">Comics</span></router-link>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://Comicstormherokuapp..com/">Comicstormherokuapp.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </div>
</template>
<style scoped>
.nav-footer{
  color: white;
}
.background{
  background: #4C4C4C;
}
</style>