<template>
    <div>
    <header>
        <router-link class="nav logo" :to="{path:'/'}"> <span class="nav-footer">Comicstorm</span></router-link>

        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <input type="checkbox" id="hide">
        <nav id="trick-menu" class="nabvar">
            <ul>    
                <li><router-link class="nav" :to="{name:'items-add'}"> <span class="nav-footer">Items</span></router-link></li>            
                <li><router-link class="nav" :to="{name:'books'}" exact> <span class="nav-footer">Books</span></router-link></li>
                <li><router-link class="nav" :to="{name:'kindles'}"><span class="nav-footer">Kindle</span></router-link></li>
                <li><router-link class="nav" :to="{name:'mangas'}"> <span class="nav-footer">Manga</span></router-link></li>
                <li><router-link class="nav" :to="{name:'audiobooks'}"> <span class="nav-footer">Audio Books</span></router-link></li>
                <li><router-link class="nav" :to="{name:'comics'}"> <span class="nav-footer">Comics</span></router-link></li>
                <li><router-link class="nav" :to="{name:'login'}"><i class='bx bxs-user'></i></router-link></li>
                <li><router-link class="nav" :to="{name:'cart',params:{firstTimeSended:false}}"> <span class="nav-footer"><i class='bx bx-cart'></i></span></router-link></li>
                
                
            </ul>
            
        </nav>
    </header>
    </div>
</template>
<script>
import 'boxicons/css/boxicons.min.css'
export default {
    methods:{
        search(){
            this.$swal('Articulo agregado con exito');
            this.$router.push({name:'books'})

        },
        login(){
            this.$router.push({name:'login'})
        },
        cart(){
            this.$router.push({name:'cart'})
        }
    }
}
</script>

<style scoped>


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    max-height: 7ch;

}
header .logo{
    font-weight: bolder;
    font-size: 25px;
    color:#102A54 ;
    text-decoration: none;
}
header .nabvar ul {
    list-style: none;
}    
header .nabvar ul li{
    position: relative;
    float: left;

}

header .nabvar ul li .nav{
    color: #333;
    font-size: 20px;
    padding: 1.3rem;
    text-decoration: none;

}
#menu-bar{
    display: none;
}
#hide{
    display: none;
}
header label{
    font-size: 20px;
    color:#333;
    cursor: pointer;
    display: none;
}
@media(max-width:1300px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .nabvar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .nabvar ul li{
        width: 100%;
    }

    #menu-bar:checked ~ #trick-menu{
        display: initial;
        
    }

    
}

.my-btn{
    background: #000;
    color: #fff;    
    border-style: solid;
    border-radius: 5px;
    padding: 0.24rem ;
    transition: 0.5s ease;
    width: 10rem;
    
}

a i{
    transition: 0.5s ease;  
    font-size: 25px;
}

/*btn 2 */
.my-btn-2{
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    transition: 0.5s ease;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}

a{
    transition: 0.5s ease;  
    font-size: 25px;
    cursor: pointer;
}
</style>