<template>

    <div class="sidebar">
       
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-heroku'></i>
                <div class="logo_name">Comicstorm</div>
            </div>
            <i class='bx bx-menu' @click="hide" id="btn"></i>
        </div>
        <ul class="nav_list">
       
            <li>
                <b-nav-item :to="{name:'Items'}">
                  <i class='bx bxs-grid-alt' ></i>
                  <span class="links_name">Dashboard</span>
                </b-nav-item>
              
        
                <span class="tooltip">Dashboard</span>
              </li>
              <li>
                <b-nav-item :to="{name:'users'}">
                    <i class='bx bxs-user' ></i>
                    <span class="links_name">Usuarios</span>
                </b-nav-item>
                  
            
                <span class="tooltip">Usuarios</span>
              </li>
              <li>
                <b-nav-item :to="{name:'roles'}">
                  <i class='bx bxs-key'></i>
                  <span class="links_name">Roles</span>
                </b-nav-item>
                <span class="tooltip">Roles</span>
              </li>
        </ul>
        <!--div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <div class="name-job">
                        <div class="name">Julio</div>
                        <div class="job">Powerlifter</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </!--div>-->
    </div>
</template>
<script>


export default {
    methods:{
        hide(){
        let sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");     
        }
    }
}
</script>
<style scoped>
.sidebar{
    background: #11101d;
    position: fixed;
    width:5%;
    top: 0;
    bottom: 0;
    transition: 0.5s ease;

}

.sidebar .logo_content .logo{
    opacity: 0;
    transition: 0.5 ease;
}
.sidebar .logo_content .logo .logo_name{
    padding-left: 10px;
    line-height: 50px;
    font-size: 20px;
}

.sidebar .logo_content .logo .bxl-heroku{
    line-height: 50px;
    font-size: 40px;
}

.sidebar .logo_content .bx-menu{
    line-height: 50px;
    font-size: 40px;
    color: #fff;
}
.sidebar #btn{
    position: absolute;
    color:#fff;
    left: 50%;
    top: 6px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    transition: 0.5s ease;
}
.sidebar ul li a span{
    padding-left: 15px;
    opacity: 0;
    transition: 0.5s ease;
}
.sidebar ul li a i{
    font-size: 30px;
    padding-left: 5px;
}
.sidebar ul {
    margin-top: 20%;

}

.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 90%;
    margin:0px -15px;
    line-height: 50px;
  

}
.sidebar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 6px;
    
}
.sidebar ul li:hover{

}
.sidebar .tooltip{
    position: relative;
    left: 50px;
    top: 0;

    border-radius: 6px;
    height: 35px;
    width: 100px;
    background: #fff;
    padding: 4px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    display: block;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    pointer-events: none;
}
.sidebar ul li a:hover{
    color:#11101d;
    background:#fff;
    transition: 0.5s ease;

}

/**Active*/
.sidebar.active{
    width:15%;
    
}

.sidebar.active .logo_content .logo{
    display: flex;
    padding-top:5px;
    padding-left:10px ;
    opacity:1;
    transition: 0.5s ease;

}
.sidebar.active ul li a span{
    opacity: 1;
    transition: 0.3s ease;
    
}

.sidebar.active #btn{
    position: absolute;
    color:#fff;
    left: 80%;
    top: 6px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    
}

.sidebar.active ul li:hover .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar.active ul li{
    margin:0px 5px;
    transition: 0.5s ease;

}
</style>