
<template>
    <div>
        <loading v-model:active="isLoading"
        :can-cancel="false"
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        />

  
      <div class="container">
            <div  class="row">
    <!--------------------------------------------Loop de cartas----------------------------------------------->            
            <div v-for="(book,index) in paginatedBooks" :key="index" class="col-12 col-md-6 col-lg-3 mt-3 mb-3">
                <div class="card">
                    <div>
                    <img  class="card-img my-img" :src="book.img_url" alt="Card image">
                    </div>
                    <!--<div class="image-upload my-btn-2">
                    <label for="file-input">
                        <i class='bx bx-merge'></i>
                    </label>
                    <input id="file-input" type="file" @click="changeImg" />
                    
                    </div>-->
                    <div class="card-content">
                        <h2 class="card-title">{{book.title}}</h2>
                        <div class="btn-container">
                            <button class="my-btn" @click="showBook(book.id)">Show</button>
                            
                            <button @click="addToCart(book.id,book.price,book.img_url,book.title,book.author)" class="my-btn">Add</button>
                        </div>
                    </div>            
                </div>           
            </div> 
    <!-------------------------------------------------------------------------------------------------------->
    
    <!--------------------------------------Paginacion-------------------------------------------------------->
            <nav class="mt-5" aria-label="Page pagination example">
                <ul class="pagination">
                    <li class="page-item"><a @click="getPrevious()" class="page-link"><i class='bx bxs-chevron-left'></i></a></li>
                    <li v-for="(page,index) in totalPages()" :key="index" class="page-item" v-bind:class="isActive(page)" @click="getPaginatedBooks(page)"><a class="page-link">{{page}}</a></li>
                    <li class="page-item"><a @click="getNext()" class="page-link"><i class='bx bxs-chevron-right' ></i></a></li>
                </ul>
            </nav>
    <!-------------------------------------------------------------------------------------------------------->
            </div>
        </div>


     
    </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import $http from '@/services/HttpClient';
export default {
    components:{
        Loading,
        
    },
    data(){
        return{
            books:{},
            paginatedBooks:[],
            elementsPerPage:16,
            currentPage:0,
            isLoading: true,
            fullPage: true,
            id:'',


        }
    },
    mounted(){
        this.getData()
        this.getPaginatedBooks(1)

    },
    methods:{
        getPaginatedBooks(noPage){
            this.currentPage = noPage

            let start = (this.books.last_page+1)-this.books.last_page
            let end = this.books.last_page

            $http.get('http://comicstorm-backend.test/api/items/5?page='+noPage, {
            delayed: false,
            time:1500
            }).then((response)=>{
                this.paginatedBooks = response.data.items.data
                this.isLoading = false
            }).catch(error=>{
                console.log(error)
            })

        },
        totalPages(){
            return this.books.last_page
        },
        showBook(id){
  
            this.$router.push({name:'items-show',params:{id:id}})
        },
        changeImg(){

        },
        getData(){

            $http.get('http://comicstorm-backend.test/api/items/'+5, {
            delayed: true,
            time:1500
            }).then((response)=>{
                this.books = response.data.items;
                

            }).catch(error=>{
                console.log(error)
            })


        },
        getPrevious(){
            if(this.currentPage>1){
                this.currentPage--
            }

            this.getPaginatedBooks(this.currentPage)
        },
        getNext(){
            if(this.currentPage<this.totalPages()){
                this.currentPage++
            }

            this.getPaginatedBooks(this.currentPage)
        },
        isActive(noPage){
            if(noPage == this.currentPage){
                return 'active'
            }else{
                return ''
            }
            
        },
        addToCart(id,price,img_url,title,author){
            let item={
                id:id,
                price:price,
                img_url:img_url,
                title:title,
                author:author,
                quantity:1
            }

            localStorage.setItem('item',JSON.stringify(item))
            localStorage.setItem('firstAdded',JSON.stringify(true))
            this.$router.push({name:'cart'})
            
        },
        onCancel() {
                console.log('User cancelled the loader.')
        },
        addamigo(){
            this.$store.state.id = this.id
            this.$store.dispatch('addAmigoAction')
        },
        clear(){
            localStorage.clear()
        }
    }
}
</script>
<style scoped>

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
/** Podre hacer lo mismo para el componente v-select?*/
.pagination > .active > a {
    background-color: #000;
    border-color: #000;
}
.page-link{
    cursor: pointer;
    color: #000;

}
.card{

    max-width: 30ch;
    max-height: 40ch;
    box-shadow: 0 0 0.5em #B2B2B2;
    padding: 14rem 0 0rem;
    overflow: hidden;
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.card-content{
    
    padding: 1.5rem;
    transform: translateY(50%);
    transition: 0.5s ease;
}
.card-content::after{
    content: '';
    background: #000;
    position: absolute;
    width: 100%;
    height: 200px;
    opacity: 0.8;
    top: 0;
    z-index: -1;
    left: 0;
    transition: 0.5s ease;
}
.card-title{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    overflow: hidden;
}
.card-title::after{
    content: '';
    background: #fff;
    position: absolute;
    width: 0%;
    height: 4px;
    top: 0;
    left: 0;
    transition: 0.5s ease;
}
.card:hover .card-content{
    transform: translateY(0);
    transition: 0.5s ease; 
}
.card:hover .card-title::after{
    width: 100%;
    transition: 0.5s ease;
}

.my-btn{
    color: #fff;
    background:#E03535;
    margin: 0.5rem;
    transition: 0.5s ease; 
    border: none;
    border-radius: 4px;
    padding: 0.3rem o.3rem;
    font-size: 1.3rem;

}
.my-btn:hover{
    background: #FF1F1F;
    color: #fff;
    transition: 0.5s ease; 
}
.my-btn-2{
    position: absolute;
    background:#000;
    transition: 0.5s ease;
    width: 15%; 
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 6px;
    top: 0;
    left: 0;
}
.my-btn-2 i{
    cursor: pointer;
}
.my-btn-2:hover{
    background: #fff;
    color: #000;
    transition: 0.5s ease; 
}
.image-upload>input{
    display: none;
}
.my-img{
    position:absolute; 
    top:0; 
    left:0;
}

</style>