 <template>
<div>
    <h2>Comics</h2>
    <comics-index/>
</div>
</template>
<script>


import ComicsIndex from './ComicsIndex.vue'
export default {
    components:{
 
        ComicsIndex
    }
}
</script>
<style scoped>
.container{
    margin-right: 2rem;
}

</style>