.card-img{
    max-height: 60ch;
    max-width: 35ch;
    overflow: hidden;
}
/*.card-img{
    transition: 0.5s ease;
}
.card-img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor: pointer;
}*/
.color{
    color: #000;
}
 .synopsis{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 9; /* number of lines to show */
   -webkit-box-orient: vertical;
   

}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-style{

    color:#000;
    box-shadow:  0 0 0.5em #B2B2B2;

}
.my-btn{
    background: #E03535;
    width: 50%;
    font-size: 1rem;
    border-radius: 6px;
    color: #fff;
    transition: 0.5s ease;
    padding: 0.5rem;
    margin: 1rem;

}
.my-btn a{
    cursor: pointer;
}
.my-btn:hover{
    background: #B22C2C;
    transition: 0.5s ease;
  
}
.price span{
    font-size: 1.5rem;
}
thead{
    color: #fff;
}
td{
    color: #fff;
    margin: 12px 12px 12px 12px;
     padding: 12px 12px 12px 12px;
}