<template>
<div>

    <div class="row">

    <!------------------------------------------------------------------------------------------------------->
        <div  class="col-xl-8 col-lg-12 col-md-12">

            <div v-for="(item,index) in getItems" :key="index" class="card">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-9">
                    <div class="right-container">
                        <img class="my-img" :src="item.img_url" alt="">
                        <h5 class="item-title">{{item.title}} by <small>{{item.author}}</small></h5>

                        <select class="select">
                  
                            <option value="">{{item.quantity}}</option>

                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="left-container">
                        <h5 class="price">MXN{{item.price}}</h5>


                        <a @click="deleteItem(item.id,index)"><i class='bx bxs-x-circle'></i></a>

                    </div>
                </div>
            </div>
            </div>


        </div>
    <!------------------------------------------Carrito vacio------------------------------------------------>
    <div v-if="amount==0" class="col-xl-8 col-lg-12 col-md-12">
        <div class="row">
            <div class="card">
                <h1>Your cart is empty</h1>
            </div>
        </div>
    </div>
    <!-----------------------------------------Resumen de carrito-------------------------------------------->
        <div v-if="amount!=0" class="my-col col-lx-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card">

                <div class="card-title"><h5>Cart summary</h5></div>
                <h5>Total products: {{amount}}</h5>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4 >TOTAL:</h4>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-row">
                            <h4>MXN{{subtotal}}</h4>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <div class="my-btn-container mb-3 mt-3">
                        <div class="my-btn">
                            <i class='bx bxs-shopping-bag'></i>
                            <a href="#">Proceed to checkout</a>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <!------------------------------------------------------------------------------------------------------->
    </div>

</div>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import $http from '@/services/HttpClient';
export default {
    created(){
        this.getItem()
   
    },
    components:{
        Loading
    },
    mounted(){
        this.getCart()
        this.getAmount()
    },
    data(){
        return{
            subtotal:0,
            item:{},
            items:null,
            firstTimeSended:null,
            amount:0
  
            

        }
    },
 
    methods:{
        
      
        getCart(){
            
            let checkItem = JSON.parse(localStorage.getItem('item'))
            if(checkItem && Object.entries(checkItem).length>0){
            
                if(JSON.parse(localStorage.getItem('firstAdded'))){
                    let cart = localStorage.getItem('cart')
                    let duplicatedItem=false
                    if(cart==null){
                            localStorage.setItem('cart','[]')
                            cart = JSON.parse(localStorage.getItem('cart'))
                            cart.push(this.item)
                            localStorage.setItem('cart',JSON.stringify(cart))
                            this.items =  JSON.parse(localStorage.getItem('cart')  )

                    }else{

                            let currentCart = JSON.parse(localStorage.getItem('cart'))

                            currentCart.forEach(element => {
                                if(this.item.id==element.id){
                                    element.quantity+=1
                                    duplicatedItem=true
                                }
                            });
                            if(duplicatedItem!=true){
                                currentCart.push(this.item)
                            }

                            localStorage.setItem('cart',JSON.stringify(currentCart))
                            this.items =  JSON.parse(localStorage.getItem('cart')  )
                            
                        
                        }
                        localStorage.setItem('firstAdded',JSON.stringify(false))
                    }else{
                            this.items =  JSON.parse(localStorage.getItem('cart')) 

                    }
                }


            

        },
        getSubTotal(data){
            data.forEach(element => {
                this.subtotal=this.subtotal+element.price
            });
        },
        deleteItem(id,index){
            this.items.forEach(element => {
                if(element.id==id){
                    if(element.quantity>1){
                        element.quantity-=1 
                        this.getAmount()
                        
                    }else{
                        this.items.splice(index,1)
                        this.getAmount()
        
                    }
                }
            });

            localStorage.setItem('cart',JSON.stringify(this.items))
            if(this.items.length==0){
                localStorage.clear()
            }
            
        },
        getItem(){
            try{

            this.item = JSON.parse(localStorage.getItem('item'))
                
            }catch(error){
                console.log(error)
            }
        },
        getAmount(){
            this.amount = 0
            this.subtotal = 0

            if(this.items!=null){
                this.items.forEach(element => {
               this.amount = this.amount + element.quantity 
               this.subtotal = this.subtotal+(element.price*element.quantity)

               
            });
            return this.amount
            }
        },
        

    },

    computed:{
        getItems(){
            return this.items  
        },
        
    }
}
</script>
<style scoped>

.my-col{
       margin-left:auto;
    margin-right:auto;
}
.my-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-btn{
    position: relative;
    background: #E03535;
    border-radius: 4px;
    width: 85%;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.my-btn:hover{
    background: #B22C2C;
}
.my-btn i{
    position: relative;
    font-size: 1.5rem;
    right: 10%;
    color: #fff;
}
.my-btn a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    color: #000;
    margin: 1.5rem;
    box-shadow: 0 0 0.5em #B2B2B2;
}

.right-container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.right-container .my-img{
    position: inherit;
    width: 15%;
    padding: 0.3rem;

}

.select{
    position:absolute;
    max-height: 60%;
    border-radius: 4px;
    border-style: none;
    left: 15%;
    bottom: 5%;
    padding: 0.5rem;
    outline: none;
    background: #B22C2C;
    color: #fff;

}

.left-container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.left-container .price{
    position: inherit;
    top: 2%;
}
.left-container a{
    color: #E74C4C;
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#my-total{
    border-style: none;
    font-size: 1.5rem;
    width: 140px;
    position: relative;
    top: -0.2rem;

}
#my-total:focus{
    outline: none;
}
</style>