<template>
<div>
    <h1>Cart</h1>
    <div class="row">
        <cart-item/>
    </div>
</div>   
</template>
<script>
import CartItem from './CartItem.vue'

export default{
    components:{
        CartItem
    }
}
</script>
<style scoped>

</style>